<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
</head>
<body>
    <h1>Hello, Flask on Vercel!</h1>
    <button onclick="signIn()">Sign in with Google</button>
    <script type="module">
      import { signInWithGoogle } from "./firebase.js";

      window.signIn = () => {
        signInWithGoogle().then(() => {
          console.log("Signed in successfully");
        });
      };
    </script>
</body>
</html>
